/* Prevalue defaults */
.multipleMediaPicker-prevalues {
	position: relative;
	min-height: 50px;
}

.multipleMediaPicker-prevalues > div {
    margin-bottom: 20px;
}

.multipleMediaPicker-prevalues .multipleMediaPicker-prevalue .control-group {
    margin-bottom: 5px;
	display: table;
}


/* Defaults */
.multipleMediaPicker label small {
	display: inline-block;
}

.multipleMediaPicker input.ng-invalid {
	border-color: #9d261d;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

.multipleMediaPicker .help-block {
	color: #9d261d;
}

.umb-panel-header .headline {
	margin-bottom: 10px;
	padding: 0;
	border: none;
	font-size: 26px;
}

.multipleMediaPicker .image-name {
	padding: 2px 8px 2px 8px;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	text-align: left;
	opacity: 0.8;
}

.multipleMediaPicker .umb-sortable-thumbnails > li {
	margin: 5px;
	display: inline-block;
	height: auto !important;
}

.multipleMediaPicker .umb-sortable-thumbnails > li .media-container a:hover {
	text-decoration: none;
}

.multipleMediaPicker .umb-sortable-thumbnails > li:hover .image-name {
	display: block;
}

.multipleMediaPicker .media-icons {
	position: absolute;
	right: 10px;
	bottom: 10px;
	font-size: 24px;
	line-height: 36px;
	color: #000;
	text-align: center;
}

.multipleMediaPicker .media-icons .media-icon {
	display: inline-block;
	width: 32px;
	height: 32px;
	background-color: #fff;
	border-radius: 50%;
	opacity: 0.8;
}

.multipleMediaPicker .media-icons .media-icon.media-icon-remove {
	color: red;
}

.multipleMediaPicker .media-icons .media-icon:hover {
	opacity: 1.0;
	text-decoration: none;
}

.multipleMediaPicker .folder-container,
.multipleMediaPicker .file-container {
	padding-top: 25px;
	padding-bottom: 50px;
}

.multipleMediaPicker .media-container {
	position: relative;
	overflow: auto;
	width: 100%;
}

.multipleMediaPicker .media-container .umb-icon-holder small {
	display: block;
}

.multipleMediaPicker .quickview {
    width: 100%;
}

.multipleMediaPicker .quickview .control-group {
	margin: 0 !important;
	padding: 0;
	border: none;
}

.multipleMediaPicker .quickview-item {
	margin-bottom: 10px;
	position: relative;
	text-align: left;
}

.multipleMediaPicker .quickview-item .umb-editor {
	width: 100%;
}

.multipleMediaPicker .quickview-item .control-label {
	margin: 0;
	padding: 1px 3px 10px 3px !important;
	position: relative;
	top: 0px !important;
	width: auto;
	background-color: #fff;
	float: none;
	color: #d9d9d9;
	font-size: 11px;
	line-height: 1;
	cursor: text;
	z-index: 9;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
}

.multipleMediaPicker .quickview-item .controls {
	margin: 0;
	padding: 0;
	text-align: left;
}

.multipleMediaPicker .quickview-item .controls input:not([type='checkbox']):not([type='radio']) {
	padding: 4px 6px;
	width: 100%;
	height: 30px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.multipleMediaPicker .quickview-item .controls textarea,
.multipleMediaPicker .quickview-item .controls select {
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.multipleMediaPicker .pull-right .picked-image {
    position: static;
    display: inline-block;
}


/* image cropper */
.multipleMediaPicker .imagecropper {
    width: 100%;
    display: block;
}

.multipleMediaPicker .imagecropper .umb-cropper-imageholder {
    display: block;
    float: none;
}

.multipleMediaPicker .imagecropper .umb-cropper-gravity {
    display: block;
}

.multipleMediaPicker .imagecropper .viewport {
    width: 100%;
	height: 100%;
	max-width: 100%;
}

.multipleMediaPicker .imagecropper img {
	margin: 0;
    position: relative;
    height: auto;
}

.multipleMediaPicker .imagecropper .crop-container img {
    max-width: none;
    max-height: none;
}

.multipleMediaPicker .imagecropper .crop-slider {
    padding: 10px;
}

.multipleMediaPicker .imagecropper .crop-slider input {
    padding: 0;
    width: 170px !important;
}

.multipleMediaPicker .imagecropper .cropList {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
    border: none;
}

.multipleMediaPicker .imagecropper .cropList > li {
    display: inline-block;
}

/* styles for data types */
.multipleMediaPicker .quickview-item.slider .slider-horizontal.slider {
    width: 260px;
    max-width: 100%;
}