<div class="multipleMediaPicker umb-editor umb-mediapicker" ng-controller="OP10.Backoffice.MultipleMediaPicker.Controller">

	<ul class="umb-sortable-thumbnails" ng-show="isLoading">
		<li class="media-loader">
			<div class="sk-circle1 sk-circle"></div>
			<div class="sk-circle2 sk-circle"></div>
			<div class="sk-circle3 sk-circle"></div>
			<div class="sk-circle4 sk-circle"></div>
			<div class="sk-circle5 sk-circle"></div>
			<div class="sk-circle6 sk-circle"></div>
			<div class="sk-circle7 sk-circle"></div>
			<div class="sk-circle8 sk-circle"></div>
			<div class="sk-circle9 sk-circle"></div>
			<div class="sk-circle10 sk-circle"></div>
			<div class="sk-circle11 sk-circle"></div>
			<div class="sk-circle12 sk-circle"></div>
		</li>
	</ul>

	<ul ui-sortable="sortableOptions" ng-model="images" class="umb-sortable-thumbnails">

		<li style="width: 260px;" ng-repeat="image in images | filter : '!!'">

			<div class="quickview" ng-if="image.quickviewProperties && image.hasPermission">
				<umb-property ng-repeat="property in image.quickviewProperties" property="property" class="quickview-item quickview-item-{{property.view}}">
					<umb-editor model="property"></umb-editor>
				</umb-property>
			</div>

			<div class="text-error" ng-if="!image.hasPermission">
				<p><localize key="assignDomain_permissionDenied">Permission denied.</localize></p>
			</div>

			<div class="media-container" ng-class="{'folder-container': image.isFolder, 'file-container': image.isFile}" ng-if="!image.isImageCropper">
				<a href title="@content_clickToEdit" ng-click="edit($index)" localize="title">
					<img ng-src="{{image.thumbnail}}" alt="{{image.name}}" ng-show="image.thumbnail">

					<span class="icon-holder" ng-hide="image.thumbnail">
						<i class="icon {{image.icon}} large"></i>
						<small>{{image.name}}</small>
					</span>
				</a>
				<div class="media-icons">
					<a href title="@content_clickToEdit" class="media-icon" ng-click="edit($index)" localize="title">
						<i class="icon icon-settings"></i>
					</a>
					<a href="{{image.url}}" title="@defaultdialogs_openInNewWindow" target="_blank" class="media-icon" localize="title" ng-if="showMediaLink">
						<i class="icon icon-window-popin"></i>
					</a>
					<a href title="@content_uploadClear" class="media-icon media-icon-remove" ng-click="remove($index)" localize="title">
						<i class="icon icon-delete"></i>
					</a>
				</div>
			</div>

			<div class="media-icons pull-right" ng-if="image.isImageCropper">
				<a href title="@content_clickToEdit" class="media-icon" ng-click="edit($index)" localize="title">
					<i class="icon icon-settings"></i>
				</a>
				<a href="{{image.url}}" title="@defaultdialogs_openInNewWindow" target="_blank" class="media-icon" localize="title" ng-if="showMediaLink">
					<i class="icon icon-window-popin"></i>
				</a>
				<a href title="@content_uploadClear" class="media-icon media-icon-remove" ng-click="remove($index)" localize="title">
					<i class="icon icon-delete"></i>
				</a>
			</div>

		</li>
	</ul>

	<ul class="umb-sortable-thumbnails" ng-if="showAdd()">
		<li style="border: none">
			<a href="#" class="add-link" ng-click="add()" prevent-default>
				<i class="icon icon-add large"></i>
			</a>
		</li>
	</ul>

	<umb-overlay ng-if="mediaPickerOverlay.show"
				 model="mediaPickerOverlay"
				 position="right"
				 view="mediaPickerOverlay.view">
	</umb-overlay>

</div>