<div ng-controller="OP10.Backoffice.MultipleMediaPickerDialog.Controller">
	<form name="multipleMediaPicker" ng-submit="submit(model)" class="multipleMediaPicker">
		<umb-panel>
			<div class="umb-panel-header">
				<h1 class="headline"><localize key="edit">Edit</localize></h1>
			</div>
			<div class="umb-panel-body umb-scrollable with-header with-footer">
				<umb-pane>
					<umb-property ng-repeat="property in model.properties" property="property" class="quickview-item quickview-item-{{property.view}}">
						<umb-editor model="property"></umb-editor>
					</umb-property>

					<div class="quickview-item ng-pristine ng-valid">
						<div class="control-group umb-control-group">
							<div class="umb-el-wrap">
								<label class="control-label ng-binding" for="linkToMedia" title="@defaultdialogs_linkToMedia">
									<localize key="defaultdialogs_linkToMedia">Link to media</localize>
								</label>
								<div class="controls">
									<div class="umb-property-editor ng-scope">
										<ul class="nav nav-stacked">
											<li>
												<a href="#media/media/edit/{{model.media.id}}" title="@defaultdialogs_linkToMedia" ng-click="close()" localize="title">
													<i class="icon-out"></i>
													{{model.path}}
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</umb-pane>
			</div>
			<div class="umb-panel-footer">
				<div class="btn-toolbar umb-btn-toolbar pull-right">
					<a class="btn btn-link" ng-click="close()">
						<localize key="cancel">Cancel</localize>
					</a>
					<button type="submit" class="btn btn-primary" ng-disabled="!multipleMediaPicker.$valid">
						<localize key="buttons_save">Save</localize>
					</button>
				</div>
			</div>
		</umb-panel>
	</form>
</div>